body {
  background-color: #eee;
  font-family: 'Open Sans Condensed', sans-serif;
}

.upper-field {
  margin-bottom: 30px;
}

.finished-stacks {
  position: relative;
  float: right;
}

.playing-card {
  height: 156px;
  width: 112px;
}

.flipping-deck > .playing-card {
  display: inline-block;
}

.flipping-deck > .playing-card + .playing-card {
  margin-left: -70px;
}

.card-stack {
  display: inline-block;
  margin-right: 20px;
}
