body {
  background-color: #eee;
  font-family: "Maven Pro", "Helvetica", "Arial", sans-serif;

}

.playing-field {
  padding: 20px;
}

.upper-field {
  margin-bottom: 50px;
}

.finished-stacks {
  width: 50%;
  display: inline-block;
  position: relative;
  float: right;
  white-space: nowrap;
}

.finished-stacks > .finish-stack {
  margin-left: 30px;
  display: inline-block;
}

.playing-card {
  height: 156px;
  width: 112px;
  -moz-user-select: none;
  -khtml-user-drag: element;
  cursor: move;
}

.playing-card > img {
  max-width: 100%;
}

.playing-card.stackable {
  margin-bottom: -118px;
}

.playing-card.deck {
  margin-right: 70px;
}

.flipping-deck {
  display: inline-block;
  margin-right: 25px;
}

.flipping-deck > .playing-card {
  display: inline-block;
}

.flipping-deck > .playing-card + .playing-card {
  margin-left: -70px;
}

.card-stack {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}
