body {
  background-color: #eee;
  font-family: 'Open Sans Condensed', sans-serif;
}

.upper-field {
  margin-bottom: 50px;
}

.finished-stacks {
  width: 50%;
  position: relative;
  float: right;
  display: inline-block;
}

.finished-stacks > .finish-stack {
  margin-left: 30px;
  display: inline-block;
}

.playing-card {
  height: 156px;
  width: 112px;
  -moz-user-select: none;
  -khtml-user-drag: element;
}

.playing-card.movable {
  cursor: move;
}

.playing-card.deck {
  margin-right: 70px;
}

.flipping-deck {
  display: inline-block;
}

.flipping-deck > .playing-card {
  display: inline-block;
}

.flipping-deck > .playing-card + .playing-card {
  margin-left: -70px;
}

.card-stack {
  display: inline-block;
  margin-right: 20px;
}
